{% extends "Html/base.html" %}
{% block content %}
  <!-- content start -->



<div id="main1"><div class="tittle_cp"><span>整体厨柜系列</span><tt>Kitchen Cabinet </tt></div>
<div class="conent_cp">
<div class="sous"><a href="#">整体厨柜系列</a><a href="#">厨房电器系列</a><a href="#">浴室厨柜系列</a><a href="#">热水器系列</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/chanp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tu_2.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tucp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tu_2.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tucp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/chanp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tucp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tu_2.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tucp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tu_2.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tucp.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div class="chanpins"><div class="chan_tu"><img src="../../static/html/image/tu_2.jpg" width="300" height="185"></div><a>BD01-01</a></div>
<div style="clear:both; height:20px;"></div>
<div class="fenye"><span>第1/5页</span><a>首页</a><a>上一页</a><a>下一页</a><a>最后一页</a><span>共50条记录</span></div>
</div>
<div style="clear:both; height:20px;"></div>
</div>
</div>
<div class="clearfix"></div>

<!-- content end -->
{% endblock %}
