{% extends "Html/base.html" %}
{% block content %}
  <!-- content start -->


<div id="main1">
  <div class="tittle_cp"><span>联系方式</span><tt>Contact Us</tt></div>
  <div class="conent_cp">
    <div class="sous"><a href="#">联系方式</a></div>
<div class="conent_xx" style="background:url(../../static/html/image/lixi.jpg) no-repeat 400px;">
<div style="width:400px; margin-left:50px;">
<p>卡诺瓦有限公司<br>
全国咨询热线：400-732-8177<br>                      
电  话：0551-62307961 <br>
网  址：http://www.bodiwater.com <br>  
手  机：18715094045 <br>
Q    Q: 2732090514 <br>
邮  编：230001 <br>
地  址：合肥市阜阳北路柏帝产业基地</p>
</div>
<div style="clear:both; height:30px;"></div>
</div>
</div>
<div style="clear:both; height:20px;"></div>
</div>
</div>
<div class="clearfix"></div>


<!-- content end -->
{% endblock %}