{% extends "Html/base.html" %}
{% block content %}
  <!-- content start -->


<div id="main1">
  <div class="tittle_cp"><span>在线留言</span><tt>Feedback</tt></div>
  <div class="conent_cp">
    <div class="sous"><a href="#">在线留言</a></div>
    <div class="conent_xx">
    <table width="779" border="0">
  <tr>
    <td width="121" height="36"><div align="right">标题：</div></td>
    <td width="648"><input type="text" class="text_ly"/></td>
  </tr>
   <tr>
    <td width="121"><div align="right">联系人：</div></td>
    <td width="648"><input type="text" class="text_ly"/></td>
  </tr>
  <tr>
    <td><div align="right">QQ号码：</div></td>
    <td><input type="text" class="text_ly"/></td>
  </tr>
  <tr>
    <td><div align="right">电话：</div></td>
    <td><input type="text" class="text_ly"/></td>
  </tr>
  <tr>
    <td><div align="right">手机：</div></td>
    <td><input type="text" class="text_ly"/></td>
  </tr>
  <tr>
    <td><div align="right">邮箱：</div></td>
    <td><input type="text" class="text_ly"/></td>
  </tr>
  <tr>
    <td><div align="right">地址：</div></td>
    <td><input type="text" class="text_ly" style="width:440px;"/></td>
  </tr>
  <tr>
    <td><div align="right">描述：</div></td>
    <td><textarea class="text_ly" style="width:440px; height:105px;"></textarea></td>
  </tr>
  <tr>
    <td height="61"><div align="right"></div></td>
    <td><input type="button" class="button_ti" value="提交"><input type="button" class="button_ti" value="重置"></td>
  </tr>
  <tr>
    <td height="67"><div align="right"></div></td>
    <td>&nbsp;</td>
  </tr>
</table>
    </div>
</div>
<div style="clear:both; height:20px;"></div>
</div>
</div>
<div class="clearfix"></div>
<!-- content end -->
{% endblock %}